{% extends "shared/base.html" %}

{% block content %}

<h2 class="page-title">Hello World!</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, libero. Perspiciatis nulla porro magni vero minus,
    repudiandae fugiat omnis, soluta rem eos molestias, sint quam culpa praesentium voluptatem error ut repellendus
    maiores nemo velit ullam! Odit quis soluta sed vero possimus dolorem nemo dicta culpa, perspiciatis odio dolorum
    officia veritatis placeat molestias? Praesentium quo autem minima odit, deserunt eum voluptate ipsum illo numquam
    adipisci, ex dolorem, voluptates repudiandae perspiciatis sint. Sequi distinctio libero eius nisi?</p>
<p>Magni beatae dolores facilis dicta veritatis commodi cum ab eaque, laboriosam obcaecati? Recusandae commodi omnis
    nisi, tenetur quod in iste sit vero delectus quos, fugit quis quia tempore consequuntur mollitia eveniet laborum
    blanditiis quisquam consequatur odio minima consectetur. Sint in corporis officiis pariatur, deleniti iusto tenetur
    libero. Accusamus eveniet soluta optio animi nobis beatae labore, veritatis quisquam hic quidem nisi officia vel
    dolores, blanditiis iusto id sapiente illo repellat, ex ratione aut voluptate! Repudiandae, veniam.</p>
<p>Distinctio numquam blanditiis reiciendis hic corrupti labore, odit perspiciatis laudantium ab sit cumque sequi, totam
    doloribus itaque nisi ratione aperiam saepe? Et harum excepturi ab sunt sequi vitae beatae porro rerum dolor
    eligendi suscipit ipsum temporibus voluptates, a repellendus perspiciatis, eaque doloribus quo, alias illo fuga
    ipsam! Voluptatum suscipit ea incidunt dolor quos magnam eveniet quibusdam et temporibus similique. Nihil nemo fuga
    repellat recusandae ea vero itaque nam obcaecati modi. Possimus nostrum dolorem magni eum.</p>

{% endblock %}